# Built artifacts
*.iml
*.ipr
*.iws
.gradle
/local.properties
/.idea/
/build
.externalNativeBuild
.cxx

# Logs and temporary files
*.log
*.temp
*.tmp

# System files
.DS_Store
Thumbs.db

# Android Studio / IntelliJ files
captures/
navigation/
assetWizardSettings.xml

# Signing files
*.jks
*.keystore
*.p12
google-services.json

# Local properties
local.properties

# Lint
lint/
build/
outputs/
reports/
